*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper{ 
  flex-grow: 1;
  background-color: aqua;
}

.content {
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  /* margin: auto; */
  width: 25%;
  height: 25%;
}
